#maindiv {
	margin: auto;
	width: 100%;
}

form {
	margin-left: 20px;
}

h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
}

a {
	color: inherit;
}

#enterdata {
	width: 100%;
	margin: auto
}

textarea:focus, input:focus{
    outline: none;
}

