{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
	// once the document is ready the file been loaded in to Object
	var data;
	var columns;
	var graphtypes;

	$( document ).ready(function() {		
		$.getJSON($SCRIPT_ROOT + '/dumpgraphdata', {
			filename: '{{filename}}',
		}, function(data) {
			columns = data["columns"];
			graphtypes = data["graphtypes"];
			
			$("#outerautocomplete").append("<div id='autocomplete' style='display: inline-block;'> </div>");
			$("#autocomplete").append("<a>Graphs </a>");
			$.each(graphtypes, function( index, value ) {						
				var content = "<a id='"+ value +"' href='#'>"+ value +"</a>&nbsp;";
				$("#autocomplete").append(content);			 
			});
		});
		
		
		
		return false;
	});
	
	$(document).on('click', 'a', function () {
    
		var graphsyntax = $('textarea#graphsyntax').val();
		var splitgraphsyntax = graphsyntax.split(' ');
		var newgraphsyntax = "";
		if (splitgraphsyntax.length > 1) {
			newgraphsyntax = graphsyntax.replace(/\s\w+$/," " + $(this).attr('id'));
		}
		else {
			newgraphsyntax = $(this).attr('id')
		}

		$('textarea#graphsyntax').val(newgraphsyntax);
		$("#autocomplete").remove();
		
	});
	
	$(function() {
		$('#graphsyntax').keyup(function() {
			var graphsyntax = $('textarea#graphsyntax').val();
			if (graphsyntax == "") {
				$("#autocomplete").remove();
				$("#outerautocomplete").append("<div id='autocomplete' style='display: inline-block;'> </div>");
				$("#autocomplete").append("<a>Graphs </a>");
				$.each(graphtypes, function( index, value ) {						
						var content = "<a id='"+ value +"' href='#'>"+ value +"</a>&nbsp;";
						$("#autocomplete").append(content);			 
				});
				return true;
			}
			var lastChar = graphsyntax.substr(graphsyntax.length - 1);
			
			if (lastChar == ' ') {
				return true;
			}
			
			var columnstyped = [];
			
			if (lastChar == ";") {
				$("#autocomplete").remove();
				$("#outerchartdiv").append("<div id='chart'></div>");
				$("div").remove("#inneralertdiv");
				graphsyntax = graphsyntax.substr(0, graphsyntax.length-1);
				$.getJSON($SCRIPT_ROOT + '/processgraphsyntax', {
					graphsyntax: graphsyntax
				}, function (data) {										
					var graphdata = {};
					var columns = {};
					var wholedataarray = [];
					
					$.each(data, function(k, v){
						if (k == "ferror") {
							$("div").remove("#inneralertdiv");
							$("#alertdiv").append("<div id='inneralertdiv' class='alert alert-success'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"+v+"</div>")
							return true;
						}

						if (k == "graphtype" || k == "axis") {
							return true;
						}

						if (k == "error") {
							$("div").remove("#inneralertdiv");
							$("#alertdiv").append("<div id='inneralertdiv' class='alert alert-success'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"+v+"</div>")
							return true;
						}
						
						var dataarray = [];
						columnstyped.push(k);
						$.each( v, function( index, value ){
							dataarray.push(value);
						});
						wholedataarray.push(dataarray);
					});

					columns["columns"] = wholedataarray;
					graphdata["data"] = columns;
					graphdata["data"]["type"] = data["graphtype"];
					
					if (data["graphtype"] == "sbar") {
						graphdata["data"]["type"] = "bar";
						graphdata["data"]["groups"] = [columnstyped];
					}
					
					
					if (data["axis"] != undefined) {
						graphdata["data"]["x"] = "x";
						graphdata["axis"] = {};
						graphdata["axis"]["x"] = {};
						graphdata["axis"]["x"]["tick"] = {};
						graphdata["axis"]["x"]["tick"]["values"] = data["axis"]
					}
					console.log(graphdata);
					// initializing the graph
					var chart = c3.generate({
						bindto: '#chart',
						data: graphdata["data"]
					});

				});
				return false;
			}
			else {
				$("#chart").remove();
				var splitgraphsyntax = graphsyntax.split(' ');
				var matchedvalues = [];
				if (splitgraphsyntax.length == 1) {
					$.each(graphtypes, function( index, value ){
						if (value.startsWith(splitgraphsyntax[0])) {
							matchedvalues.push(value);
						}						
					});
				}
				else {
					$.each(columns, function( index, value ){
						if (value.startsWith(splitgraphsyntax[splitgraphsyntax.length-1])) {
							matchedvalues.push(value);
						}						
					});
				}
				
				if (matchedvalues.length > 0) {
					$("#autocomplete").remove();
					$("#outerautocomplete").append("<div id='autocomplete' style='display: inline-block;'> </div>");
					if (matchedvalues.length > 1) {
						$("#autocomplete").append("<a> Cols: </a>&nbsp;");
					} else {
						$("#autocomplete").append("<a> Graphs: </a>&nbsp;");
					}
					
					$.each(matchedvalues, function( index, value ) {						
						var content = "<a id='"+ value +"' href='#'>"+ value +"</a>&nbsp;";
						$("#autocomplete").append(content);			 
					});
				}
			}

		});
		

	});
</script>

<div id="enterdata">

	<textarea id="graphsyntax" placeholder="graph_type col1 col2 col3" autofocus style="font-size: 20px; font-family: 'Montserrat', sans-serif; width: 100%; border: none; text-align:center; margin: auto; *.focus: {outline:none}"></textarea>

	<br>

	<div id="alertdiv">
	</div>

	<div id="outerautocomplete" style="margin:auto; position:absolute; top:20%; left:30%">
	</div>
	<div id="outerchartdiv">
		<div id="chart">
		
		</div>	
	</div>
	
</div>
{% endblock %}